@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">Because one man's trash is another man's collection</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Review 1</h2>
        <p>
            "Wow, these guys really know how to pick up trash!
            <br /><br />
            - Trenton Daniels
        </p>
    </div>
    <div class="col-md-4">
        <h2>Review 2</h2>
        <p>
            "This is the best company I have ever seen!"
            <br /><br />
            - also Trenton Daniels
        </p>
    </div>
    <div class="col-md-4">
        <h2>Review 3</h2>
        <p>
            "So easy to use!"
            <br /><br />
            - you guessed it, Trenton Daniels
        </p>
    </div>
</div>